@import "base.css";

header {
    min-width: 100%;
    overflow: hidden;
    height: 70px;
    display: flex;
    background-color: rgb(5, 5, 7);
    align-items: center;
}

.container {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
}
  
  
.flexbox {
    display: flex;
}
  
.title {
    width: 40%;
    height: 56px;
}
  
.title h1 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    line-height: 56px;
    letter-spacing: .2px;
    text-transform: uppercase;
}
  
nav {
    text-align: right;
    width: 60%;
    height: 56px;
    font-size: 100%;
}
  
nav ul {
    float: none;
    list-style: none;
}
  
nav ul li {
    display: inline;
    line-height: 56px;
    cursor: default;
}
  
nav ul li a {
    font-size: 17px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: .2px;
    text-transform: none;
    cursor: pointer;
}
  
nav ul li a:hover {
    text-decoration: underline;
}
  
nav ul li + li {
    margin-left: 25px;
}

.form{
    width: 100%;
    text-align: center;
    background-color: rgba(8, 15, 23, 0.9);
}

.form p, h1, h2, input, textarea{
    color: whitesmoke;
}

main{
    height: calc(100vh - 70px);
    background: rgba(0, 0, 0, .3) url(../img/bkg.jpg) center center/ cover no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: saturation;
}

.hero-banner{
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

#content{
    width: 80%;
    margin-right: auto;
    margin-top: 40px;
    margin-left: auto;
}

.hero-banner h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 30px;
}

#content h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.about-me{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    text-align: center;
}

.about-me p{
    margin: 10px 0px 30px 0px;
}

.about-me h1{
    color: black;
    margin-top: 50px;
}
#project{
    background-color: rgba(8, 15, 23, 0.9);
    padding: 7px 25px 9px 25px;
    border-radius: 20px;
    color: white;
    font-size: 130%;
    text-decoration: none;
}

#socials{
    text-align: center;
    margin: auto;
}

#socials a{
    margin: 10px;
    font-size: 20px;
    color: white;
}

img{
    margin-top: 30px;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.hero-banner h1{
    font-size: 80px;
    font-weight: 700;
    color: #fff;
}

hr {
    border: 0;
    text-align: center;
    width: 150px;         
    margin: 0 auto;      
    background-color:black;
    height: 1px;
}

.row {
    margin-top: 100px;
    display: flex;
}

.col {
    box-shadow: 1px 1px 2px #e4e5e8;
}

.two {
    width: calc(50% - 12.5px);
}

.col + .col {
    margin-left: 25px;
}

.col img{
    height: 200px;
    width: 200px;
    display: flex;
    margin: auto;
}

/* Footer code sourced from Andre Specht */
footer {
    min-width: 100%;
    height: 100px;
    background-color: #f6f6f7;
    overflow: hidden;
}
 
.footer-content {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
 
.social .nav {
    min-width: 100%;
    height: 4rem;
    text-align: left;
}
 
.social .nav ul li + li {
    margin-left: 10px;
}
 
.social .nav ul li {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
}
 
.social .nav ul li a {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #505464;
    border: 1px solid #d7d7db;
    background-color: transparent;
    border-radius: 5rem;
}
 
.social .nav ul li a i {
    font-size: 19px;
}
 
a, i {
    transition: all .2s ease-in-out;
}
 
.social .nav ul li a i.fa-twitter {
    line-height: 40px;
}
 
.social .nav ul li a i.fa-instagram,
.social .nav ul li a i.fa-youtube {
    line-height: 38px;
}
 
.social .nav ul li a.twitter:hover {
    border: 1px solid #1da1f2;
    background-color: #1da1f2;
}
 
.social .nav ul li a.instagram:hover {
    border: 1px solid #e1306c;
    background-color: #e1306c;
}
 
.social .nav ul li a.youtube:hover {
    border: 1px solid #ff0000;
    background-color: #ff0000;
}
 
.social .nav ul li a.twitter:hover i,
.social .nav ul li a.instagram:hover i,
.social .nav ul li a.youtube:hover i {
    color: #fff;
}
 
.copyright {
    height: 40px;
    text-align: right;
}
 
.copyright p {
    line-height: 40px;
    font-size: 16px;
    font-weight: 400;
}  

