@import "base.css";

body{
    background: #fff url(../img/background.jpg) center center / cover no-repeat fixed;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5555;
}

section {
    position: relative;
    margin: 50px 0;
    width: 330px;
    height: calc(100vh - 100px);
    max-height: 460px;
    background: rgba(255, 255, 255, .5);
    box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .2) inset, 0 .4em 1em rgba(0, 0, 0, .4);
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}

section::before {
    background: #fff url(../img/background.jpg) center center / cover no-repeat fixed;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(20px);
    z-index: -1111;
}

section figure{
    display: flex;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
}

section figure img{
    width: 120px;
    height: 120px;
    border-radius: 50%
}

section h1{
    margin-top: 29px;
    font-size: 24px;
    font-weight: 500;
}

section p{
    margin-top: 11px;
    padding: 0 40px;
    font-size: 16px;
    font-weight: 400;
    color: #222;
}