@import "header-footer.css";

#main{
    height: 100vh;
    background: rgba(0, 0, 0, .3) url(../img/img.jfif) center center/ cover no-repeat;
}

.hero-banner{
    margin-top: 8.5%;
    height: 400px;
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 8.5%;
}

#content{
    width: 80%;
    margin-right: auto;
    margin-top: 40px;
    margin-left: auto;
}

.hero-banner h2{
    font-size: 20px;
    font-weight: 300;
    color: white;
    margin-bottom: 40px;
}

#content h2{
    margin-bottom: 15px;
}

.container{
    margin-top: 20px;
}

#project{
    background-color: #2c8ae6;
    padding: 7px 25px 9px 25px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}

#socials{
    text-align: center;
    margin: auto;
}

#socials a{
    margin: 10px;
    font-size: 20px;
    color: white;
}

img{
    margin-top: 20px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.hero-banner h1{
    font-size: 60px;
    font-weight: 700;
    color: #fff;
}
