@charset "utf-8";

@import "flex.css";

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Base                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-shadow: none;
  box-sizing: border-box;
  vertical-align: baseline;
  transition: all .2s ease-in-out;
}

body {
  font-family: 'Nunito Sans', Lato, sans-serif;
  background-color: #eff0f3;
}

.container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

h1, h2, div, p, a, li {
  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Header                                               */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

header {
    min-width: 100%;
    background-color: #38395d;
    overflow: hidden;
  }
  
  .flexbox {
    display: flex;
  }
  
  .title {
    width: 40%;
    height: 56px;
  }
  
  .title h1 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    line-height: 56px;
    letter-spacing: .2px;
    text-transform: uppercase;
  }
  
  nav {
    text-align: right;
    width: 60%;
    height: 56px;
    font-size: 100%;
  }
  
  nav ul {
    float: none;
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    line-height: 56px;
    cursor: default;
  }
  
  nav ul li a {
    font-size: 17px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: .2px;
    text-transform: none;
    cursor: pointer;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  nav ul li + li {
    margin-left: 25px;
  }
  


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Columns                                              */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

main {
    margin-top: 60px;
}

.col {
    height: 200px;
    background-color: #fff;
    box-shadow: 1px 1px 2px #e4e5e8;
}

.two {
    width: calc(50% - 12.5px);
}

.col + .col {
    margin-left: 25px;
}