@import 'base.css';

h2{
    font-size: 30px;
}

header{
    max-width: 90%;
    overflow: hidden;
    margin: 0 auto;
}

header div{
    display: flex;
    justify-content: space-between;
}

.navigation{
    width: 100%;
}

nav{
    margin-top: 20px;
    width: 100%;
    text-align: right;
}

nav ul{
    list-style: none;
    font-size: 0;
}

nav ul li{
    display: inline;
    line-height: 56px;
    cursor: default;
}

.home{
    color: white;
}

nav ul li a{
    font-size: 19px;
    font-weight: 400;
    color: #e9e9e9;
    text-decoration: none;
    letter-spacing: .2px;
    text-transform: none;
    cursor: pointer;
    border: 2px solid transparent; /* <- here */
    transition: border 1s;
}

nav ul li + li{
    margin-left: 25px;
}

footer {
    min-width: 100%;
    height: 100px;
    background-color: #f6f6f7;
    overflow: hidden;
}
 
.footer-content {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

#login{
    color: white;
}

.nav-page a{
    color: black;
}

.nav-page ul{
    margin-bottom: 10px;
}

.nav-page a:hover{
    border-bottom: solid black;
}

.nav-page .highlight{
    border-bottom: solid black;
}

/* Footer code sourced from Andre Specht */
footer {
    min-width: 100%;
    height: 100px;
    background-color: #f6f6f7;
    overflow: hidden;
}

.logo img{
    width: 56px;
    height: auto;
}

.logo {
    margin-top: 20px;
    float: left;
}
 
.footer-content {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
 
.social .nav {
    min-width: 100%;
    height: 4rem;
    text-align: left;
}
 
.social .nav ul li + li {
    margin-left: 10px;
}
 
.social .nav ul li {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
}
 
.social .nav ul li a {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #505464;
    border: 1px solid #d7d7db;
    background-color: transparent;
    border-radius: 5rem;
}
 
.social .nav ul li a i {
    font-size: 19px;
}
 
a, i {
    transition: all .2s ease-in-out;
}
 
.social .nav ul li a i.fa-twitter {
    line-height: 40px;
}
 
.social .nav ul li a i.fa-instagram,
.social .nav ul li a i.fa-youtube {
    line-height: 38px;
}
 
.social .nav ul li a.twitter:hover {
    border: 1px solid #1da1f2;
    background-color: #1da1f2;
}
 
.social .nav ul li a.instagram:hover {
    border: 1px solid #e1306c;
    background-color: #e1306c;
}
 
.social .nav ul li a.youtube:hover {
    border: 1px solid #ff0000;
    background-color: #ff0000;
}
 
.social .nav ul li a.twitter:hover i,
.social .nav ul li a.instagram:hover i,
.social .nav ul li a.youtube:hover i {
    color: #fff;
}
 
.copyright {
    height: 40px;
    text-align: right;
}
 
.copyright p {
    line-height: 40px;
    font-size: 20px;
    font-weight: 400;
}

#main{
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../img/Background.jfif) center center/ cover no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-banner{
    margin-top: 8%;
    height: 400px;
    text-align: left;
    display: flex;
    align-items: center;
}

#content{
    margin-bottom: 40px;
    width: 60%;
    margin-right: auto;
    padding: 55px;
    height: 250px;
    margin-left: auto;
}

.hero-banner h2{
    font-size: 30px;
    font-weight: 300;
    color: white;
    margin-bottom: 30px;
}

#content h2{
    font-size: 30px;
    margin-bottom: 20px;
}

#about-me p{
    text-align: center;
    font-size: 150%;
}

#about-me h2{
    text-align: center;
}

.button a {
    display: inline-block;
    width: 120px;
    height: 46px;
    margin-top: 20px;
    line-height: 40px;
    background-color: #d94d3f;
    border-radius: 4px;
    border: solid;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.button a:hover{
    background-color: #c93628;
}

.project{
    background-color: #565a5c;
    padding: 7px 25px 9px 25px;
    border-radius: 20px;
    color: white;
    border: 2px #565a5c;
    transition: 0.5s;
    font-size: 130%;
    border: 2px solid transparent; /* <- here */
    transition: border 1s;
    text-decoration: none; /* I added this for clarity of effect */
}

.project:hover {
    border: 2px solid antiquewhite;
}

.text{
    text-align: center;
}

#socials{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    margin: auto; 
}

#socials a{
    margin: 20px;
    font-size: 20px;
    color: white;
}


.hero-banner h1{
    font-size: 80px;
    font-weight: 700;
    color: #fff;
}

.mobile-nav {
    overflow: hidden;
}
  
.mobile-nav {
    margin-top: 20px;
    font-size: 22px;
    color: darkslategrey;
    text-decoration: none;
    cursor: pointer;
}

section{
    box-shadow: 0 28px 48px 0 rgb(59 69 152 / 15%);
    padding: 55px 0;
    background-color: #f7f8f9;
}

section h1{
    margin-bottom: 10px;
    text-align: center;
    font-size: 40px;
}

.highlight{
    border-bottom: solid whitesmoke;
}

nav a:hover{
    border-bottom: solid whitesmoke;
}

section h2{
    margin-bottom: 20px;
    text-align: center;
}

.row{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.col{
    width: 100%;
    padding: 15px;
}

.col-lg-3 img{
    width: 100%;
    height: 207px;
    margin-bottom: 17px;
}

.col-content{
    text-align: center;
    position: relative;
    width: 100%;
    padding: 24px 28px 29px 28px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 28px 48px 0 rgba(59, 69, 152, .15);
    display: flex;
    flex-direction: column;
}

.content h3{
    font-size: 22px;
    color: #303336;
    font-weight: 700;
}

.content p{
    font-size: 18px;
    font-weight: 500;
    color: #303336;
}

.flexbox {
    display: flex;
}


@media screen and (min-width: 200px){

    .article-page{
        width: 96%;
    }

    header{
        max-width: 96%;
    }

    #contacts{
        padding-top: 25px;
    }

    #content{
        margin-bottom: 0px;
        width: 100%;
        padding: 15px;
        height: fit-content;
    }

    .logo{
        margin-top: 8px;
    }

    .hero-banner{
        text-align: center;
    }

    nav {display: none;}
    .mobile-nav{display: block;}

}

@media screen and (min-width: 300px){

    .hero-banner{
        text-align: center;
    }

    nav {display: none;}
    .mobile-nav{display: block;}

}

@media screen and (min-width: 580px){

    .hero-banner{
        text-align: center;
    }

    .col-md-6{
        width: 50%;
        flex: 0 0 50%;
    }

    nav {display: none;}
    .mobile-nav{display: block;}
}

@media screen and (min-width: 768px){

    .hero-banner{
        text-align: left;
    }

    .container, .row-container{
        max-width: 800px;
    }

    .col-md-6{
        width: 50%;
        flex: 0 0 50%;
    }

    nav {display: block;}
    .mobile-nav{display: none;}
}

@media screen and (min-width: 1024px){

    .article-page{
        max-width: 70%;
    }

    header{
        max-width: 90%;
    }

    #contacts{
        padding-top: 65px;
    }

    #content{
        width: 60%;
        margin-bottom: 55px;
        padding: 55px 55px 0;
        height: fit-content;
    }

    .logo{
        margin-top: 20px;
    }

    .col-md-6{
        width: 25%;
        flex: 0 0 25%;
    }

    .col-lg-4{  
        flex: 0 0 50%;
        width: 50%;
    }

    .hero-banner{
        text-align: left;
    }

    .container, .row-container{
        max-width: 1140px;
    }

    nav {display: block;}
    .mobile-nav{display: none;}
}

/* About Me Page */

#about-me div{
    margin-top: 20px;
    text-align: center;
}

#about-me a:hover{
    background-color: #c93628;
}

#about-me a{
    display: inline-block;
    width: 120px;
    height: 46px;
    line-height: 40px;
    background-color: #d94d3f;
    border-radius: 4px;
    border: solid;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.article-page{
    margin: auto;
    padding: 55px 0;
}

#about{
    box-shadow: 0 28px 48px 0 rgb(59 69 152 / 15%);
}

.article-page img{
    width: 100%;
    height: auto;
}

.article-page h1{
    font-size: 35px;
    margin: 20px 0;
    font-weight: 400;
}

.article-page p{
    margin-top: 20px;
    line-height: 1.4;
    font-size: 20px;
    font-weight: 300;
}

.button p{
    margin-top: 50px;
    font-weight: 500;
}

/* form */

#social i{
    color: black;
}

input[type="text"]:valid, textarea:valid {
    background: #fff url(../img/check-mark-3-xxl.png) no-repeat 96% center;
    background-size: 12px 12px;
}


input[type="email"]:valid{
    background: #fff url(../img/check-mark-3-xxl.png) no-repeat 96% center;
    background-size: 12px 12px;
}

#form{
    margin-top: 100%;
    margin-top: 7%;
    margin-bottom: 10%;
    background-color: rgba(8, 15, 23, 0.9);
    /*Displays the form as inline block to take the minimum height and width needed to fit the content*/
    display: inline-block;
}

#submit{
    background-color: #d94d3f;
    color: white;
    transition: all .6s ease-in-out;
}

#submit:hover{
    background-color: #c93628;
    color: white;
}

#opening{
    margin-bottom: 25px;
    font-size: 25px;
}

#contacts{
    height: 339px;
    margin: 0 auto;
    width: 90%;
}

#contacts h1{
    font-size: 30px;
}

/*styles the inputs*/
form input{
    color: black;
    border: solid;
    border-radius: 5px;
    border-color: whitesmoke;
    padding: 10px;

    /*this styles the input boxes too have certain width and height*/
    height: 50px;
    width: 100%;

    margin-top: 10px;
}
/*this floats the paragraph elements to the left side and take up 50% of the width of the div*/
form p{
    float: left;
    width: 50%;
    margin-top: 0;
}

/*styles the textarea in the contact me form, gives it certain width, height, margin-top, gives it charcoal background color, white border and white text*/
form textarea{
    background-color: white;
    border: solid whitesmoke;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
}

#social{
    margin-top: 35px;
    text-align: center;
}

/*This styles the images in the social media icons div to have certain width and height*/
#social img{
    width: 26px;
    height: 26px;
}

#social a{
    margin: 10px;
    font-size: 20px;
    color: white;
}